<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
	<title>Renault Challenge - Autonomous Driver by The Berliners</title>
	<link rel="icon" type="image/png" sizes="24x24"
	      href="https://libs.cdn.renault.com/etc/designs/renault_v2/18.6.2.RENAULT-2/common-assets/img/favicon/favicon_24x24.png">
	<link rel="stylesheet" type="text/css" href="style2.css">
	<script type="text/javascript"
	        src="https://maps.googleapis.com/maps/api/js?libraries=geometry&key=AIzaSyDX1Q5RuN4KNMh4TJYZcJfkSBVwhQmOruU&sensor=false"></script>
	<script type="text/javascript" src="script2.js"></script>
</head>

<body>
<div id="tools">start:
	<input type="text" name="Start" id="start" value="Métro Louvre Rivoli, Paris, France"/>end:
	<input type="text" name="Destination" id="end" value="Métro Tuileries, Paris, France"/>
	<input type="submit" onclick="calcRoute();"/>
</div>
<div id="map_canvas" style="width:100%;height:90%;"></div>
</body>
</html>
